@media (max-width: 1024px) {
    .container {
        padding: 0 5px;
    }
    .movies {
        justify-content: center;
    }
    .movie {
        position: relative;
        margin: 10px;
        width: 200px;
        img {
            width: 200px;
            height: 250px;
        }
        &__name {
            padding: 3px 0;
            font-size: 12px;
        }
        &__genres {
            font-size: 12px;
        }
        &__rating {
            font-size: 12px;
        }
        &__close, &__info {
            font-size: 14px;
        }
        &__info {
            top: 210px
        }
    }
    .my-list {
        &__wrapper {
            left: 5px;
            top: 57px;
            width: 300px;
        }
        .film {
            margin: 30px 0 30px 5px;
            width: 300px;
        }
        &__items {
            justify-content: center;
        }
    }
    .new-film {
        &__close {
            left: 282px;
            top: 33px;
        }
    }
    .modal {
        margin: 150px auto;
    }
}

@media (max-height: 900px) {
    .modal {
        font-size: 12px;
        margin: 110px auto;
        &__img {
            width: 30%;
        }
    }
}

@media (max-height: 700px) {
    .header {
        &__content {
            padding-top: 200px;
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
    }
}

@media (max-height: 500px) {
    .modal {
        font-size: 10px;
        margin: 30px auto;
        line-height: 12px;
        &__info {
            padding: 5px;
            div {
                padding-top: 2px;
                :last-child {
                margin-top: 8px;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .modal {
        font-size: 10px;
        display: block;
        &__img {
            padding-right: 10px;
            float: left;
            width: 30%;
        }
        &__info {
            padding: 10px;
            div {
                padding-top: 2px;
            }
        }
    }
}

@media (max-width: 620px) {
    .modal {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        &__content {
            padding-top: 150px;
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
    }            
}